@import "variables";

body {
  background-color: $dark-navy;
  font-family: "Outfit", sans-serif;
}

.btn-primary {
  width: 327px;
  border-radius: 15px;
  height: 56px;

  border: none;
}

.gold {
  box-shadow: inset 0px -8px 0px #cc8b13;
  background-color: $light-yellow;
}

.blue {
  box-shadow: inset 0px -8px 0px #118c87;
}

.new-game-menu {
  margin: 0 auto;
  width: 490px;

  .xo-displayed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 32px;
    margin-top: 119px;
  }
  img {
    width: 31.78px;
    height: 31.78px;
    margin-left: 8.23px;
  }
  h1 {
    font-size: 1rem;
    color: $silver;
    margin: 24px;
  }
  p {
    font-size: 0.875rem;
    color: $silver;
  }

  .menu {
    background-color: $semi-dark-navy;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: inset 0px -8px 0px #10212a;
    width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .selection {
      background-color: $dark-navy;
      width: 279px;
    }
  }
}
