@import "variables";

body {
  background-color: $dark-navy;
  font-family: "Outfit", sans-serif;
}

.btn-primary {
  width: 327px;
  border-radius: 15px;
  height: 56px;

  border: none;
  font-weight: 700;
  font-size: 1rem;
  color: $dark-navy;
  letter-spacing: 1px;
}

.gold {
  box-shadow: inset 0px -8px 0px #cc8b13;
  background-color: $light-yellow;
}

.blue {
  box-shadow: inset 0px -8px 0px #118c87;
  background-color: $light-blue;
}

.menu-selected-character {
  width: 131.99px;
  height: 54px;
  background-color: $silver;
  border-radius: 10px;
}

#new-game-menu {
  margin: 0 auto;
  width: 490px;

  .xo-displayed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 32px;
    margin-top: 119px;
  }
  img {
    width: 31.78px;
    height: 31.78px;
    margin-left: 8.23px;
  }
  h1 {
    font-size: 1rem;
    letter-spacing: 1px;
    color: $silver;
    margin: 24px;
  }
  p {
    font-size: 0.875rem;
    letter-spacing: 1px;
    color: $silver;
  }

  .menu {
    background-color: $semi-dark-navy;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: inset 0px -8px 0px #10212a;
    width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .selection {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $dark-navy;
      width: 279px;
      height: 72px;
      img {
        margin: 0 auto;
        height: 32px;
        width: 32px;
      }

      .x,
      .o {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 131.99px;
        height: 54px;
      }
    }
  }
  .buttons-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    .btn-primary.gold {
      margin-top: 32px;
      margin-bottom: 16px;
    }
  }
}

#game-board {
  header {
    display: flex;
    .xo-displayed {
      display: flex;
      flex-direction: row;
      justify-content: center;
      // margin-bottom: 32px;
      // margin-top: 119px;
      img {
        width: 31.74px;
        height: 31.74px;
      }
      .whos-turn {
        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
